/*========== BASIC ===========*/
body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/embossed-diamond.png");
}

header {
    top: 0;
    width: 100%;
    z-index: 1;
}

main {
    margin-top: 10px;
    background-color: #fcfcfc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    flex-grow: 1;
}

footer {
    margin-top: auto;
}

/*======Navbar=======*/
nav .navbar-brand {
    color: #555;
    font-weight: bold;
    font-size: 1.5rem;
}

nav .navbar-nav .nav-link {
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1.5rem;
}


nav.navbar .navbar-nav .nav-link.active,
nav.navbar .navbar-nav .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

nav.navbar .btn {
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.25rem;

    margin: 2px;
}

nav .btn-outline-secondary {
    color: #555;
    border-color: #555;
    font-weight: bold;
}

nav .btn-outline-secondary:hover {
    color: #fff;
    background-color: #555;
    border-color: #555;
}


@media (max-width: 991.98px) {
    nav .navbar-collapse {
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        margin-top: 0.5%;
        padding: 1rem 0;
    }

    nav .navbar-nav .nav-link {
        color: #555;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-left: 2%;
    }

    nav .navbar-collapse .dropdown-menu {
        position: static;
        float: none;
        border: none;
        box-shadow: none;
        background-color: #fff;
    }

    nav .navbar-collapse .dropdown-item {
        color: #555;
        font-size: 1.2rem;
        font-weight: bold;
    }

    nav .navbar-collapse .dropdown-divider {
        margin: 0.5rem 0;
        border-color: #e3e3e3;
    }

    nav .header-buttons {
        display: flex;
        justify-content: space-between;
        /*margin-top: 1rem;*/
        margin: 1%;
    }

    nav .header-buttons button {
        flex-basis: 49%;
    }
}

/*===== Login / Sign Up =====*/

/* form container */
.modal-dialog .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* form header */
.modal-dialog .form-header {
    margin: 0 0 20px;
    text-align: center;
}

.modal-dialog .form-header h2 {
    font-size: 36px;
    color: #333;
}

/* form input fields */
.modal-dialog .form-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
}

.modal-dialog .form-input:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* form submit button */
.modal-dialog .form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    color: #555;
    border: 2px solid;
    border-color: #555;
    font-weight: bold;
}

.modal-dialog .form-submit:hover {
    color: #fff;
    background-color: #555;
    border-color: #555;
}

/* form link */
.modal-dialog .form-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.modal-dialog .form-link:hover {
    text-decoration: underline;
}


.modal-dialog .btn-secondary {
    background-color: #e0e0e0;
    color: #555;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.modal-dialog .btn-secondary:hover {
    background-color: #ccc;
}

.modal-dialog .btn-primary {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.modal-dialog .btn-primary:hover {
    background-color: #444;
}

.modal-dialog .log-in-btn {
    background-color: #555;
    color: #fff;
}

.modal-dialog .log-in-btn:hover {
    background-color: #444;
}

.modal-dialog .modal-header {
    background-color: #eaeaea;
    border-bottom: none;
}

.modal-dialog .modal-title {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.modal-dialog .btn-close {
    color: #333;
}

.modal-dialog .modal-body {
    background-color: #f7f7f7;
    padding: 20px;
}


/*========== MAIN PAGE ==========*/

/* Style for banner section */
.main-page .banner {
    background-color: #05021D;
    background-image: url("https://t3.ftcdn.net/jpg/04/82/07/90/360_F_482079087_jTfhGFhJgMeWt40zI9qhgjTQX7zXtLd0.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 3px 3px 5px #000000;
    padding: 120px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-page .banner-text h1 {
    font-size: 3.5rem;
    text-shadow: 6px 6px 5px #000000;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main-page .banner-text p {
    font-size: 1.5rem;
    text-shadow: 6px 6px 5px #000000;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.main-page .banner-text button {
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.79);
    color: #05021D;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.main-page .banner-text button:hover {
    /*background-color: #fff;*/
    color: #05021D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    background-color: #FDB813;
}

/* Style for features section */
.main-page .features {

    padding: 40px;
    text-align: center;
}

.main-page .feature {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
}

.main-page .feature:hover {
    transform: translateY(-1px);
}

.main-page .features h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.main-page .features p {
    font-size: 18px;
}

.main-page .features i {
    font-size: 64px;
    margin-bottom: 20px;
}

/* Style for courses section */
.main-page .courses {
    padding: 40px;
    text-align: center;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.main-page .courses h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.card {
    border: none;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transform: translateY(-1.5px);
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 40px;
}

.card a.btn-primary,
.card button.btn-primary{
    background-color: rgba(36, 109, 255, 0.84);
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.card a.btn-primary:hover,
.card button.btn-primary:hover{
    background-color: rgb(36, 109, 255);;
    transform: translateY(-2px);
}



/* Style for testimonials section */
.main-page .testimonials {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.main-page .testimonials h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.main-page .testimonial {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 40px;
    margin-bottom: 50px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.main-page .testimonial p:first-child {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-page .testimonial p.testimonial-author {
    font-size: 18px;
    font-style: italic;
}


/*========== INTERESTING PAGE ==========*/

.interesting-page .card {
    margin-bottom: 20px;
}

.interesting-page .card-img-top {
    /*max-width: 100%;*/
    /*height: 250px;*/
    /*width: 100%;*/
}

.interesting-page .card-title {
    margin-bottom: 10px;
}

.interesting-page .card-text {
    margin-bottom: 15px;
}

/* Styles for the categories section */
.interesting-page aside {
    background-color: #f8f9fa;
    padding: 20px;
}

.interesting-page .list-group-item {
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.interesting-page .list-group-item:hover {
    background-color: #e9ecef;
    cursor: pointer;
    transform: translateX(-2px);
}

.interesting-page .badge {
    font-size: 12px;
    padding: 5px;
}

p.newsCategory {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


/* Media queries for responsive design */
@media (max-width: 767px) {
    .interesting-page aside {
        padding: 10px;
    }

    .interesting-page .list-group-item {
        font-size: 14px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .interesting-page .badge {
        font-size: 10px;
        padding: 2px;
    }

    .interesting-page .row {
        flex-direction: column-reverse;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .interesting-page .list-group-item {
        font-size: 16px;
        margin-bottom: 7px;
        padding: 7px;
    }

    .interesting-page .badge {
        font-size: 12px;
        padding: 3px;
    }
}

@media (min-width: 992px) {
    .interesting-page .list-group-item {
        font-size: 18px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .interesting-page .badge {
        font-size: 12px;
        padding: 5px;
    }
}


/*========== TASKS PAGE ==========*/

.task-page h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.task-page .form-group {
    margin-bottom: 20px;
}

.task-page label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-page select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.task-page .filter-button {
    width: 100%;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.task-page button:hover {
    background-color: #0069d9;
}

/*========== !ADMIN! ==========*/

.vitalik .delete-button {
    background-color: #ff0000;
    font-size: 22px;
    color: #fff;
    padding: 5px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.4s ease-out;
}

.vitalik button.delete-button:hover {
    background-color: #cc0000;
}

.create-task {
    transition: background-color 0.4s ease-out;
}

button.create-task:hover {
    background-color: #009117;
}